	
	
	<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">KİŞİSEL WEB SİTESİ </h1>
				<p>"Küçük adımlar, büyük kod tabanlarını oluşturur. Her kod satırı, yeni bir olasılık kapısını aralar." - Shubham Sinha</p>
				<a href="https://github.com/erenpeduk"target="_blank" class="main-btn">GITHUB</a>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding" >
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">DİLLER VE YAPILAR</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>Html</h3>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Css</h3>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Javascript</h3>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Node.js</h3>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Express.js</h3>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Handle</h3>
						
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-black lead">"Programlama, hayal gücünüzü kodlara dönüştürdüğünüz sihirli bir dünyadır. Her kod satırı, geleceğinizi inşa etmenin bir parçasıdır. Karşılaştığınız her zorluk, sadece daha güçlü bir geliştirici olmanız için bir fırsattır. Unutmayın, bugün yazdığınız her kod yarının başarı öyküsünün temelini atar."</h4>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">EĞİTİM</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>ÜNİVERSİTE</h5>
                                <h4>DOĞUŞ ÜNİVERSİTESİ</h4>
                                <p style="font-weight: bold;">Yazılım Mühendisliği 3.Sınıf</p>
								<p style="font-weight: bold;">2020-?</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>LİSE</h5>
                                <h4>DOĞA KOLEJİ - TUĞRUL BEY ANADOLU LİSESİ</h4>
                                <p style="font-weight: bold;">2016-2020</p>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 01</h5>
                                <h4>LOREM IPSUMAT</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            </div>
                        </div>	
					</div> --}}
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="img/about1.jpg" class="img-fluid">
						<img src="img/about2.jpg" class="img-fluid">
						<img src="img/about1.jpg" class="img-fluid">
						<img src="img/about2.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>