<style>
    .menu-container {
        text-align: center;
        border: 2px solid #FD8A10;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
    }
    .menu-link {
        display: inline-block;
        margin-right: 40px;
        font-size: 20px;
        font-weight: bold;
        color: #FD8A10;
    }
</style>

<div class="menu-container">
    <a class="menu-link" href="/admin/categories">Kategori Ekle</a>
    <a class="menu-link" href="/admin/posts">Gönderileri Düzenle</a>
</div>
