<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">HAKKINDA</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">

		{{>admin-nav}}

	</div>
</section>

<!--==========================
    THE TEAM
============================-->

<section id="team" class="md-padding">
	<div class="container">

		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h1 class="title">Ben Kimim?</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="img/about2.jpg" alt="" width="200" height="200" style="object-fit: cover;">
					<h2>Eren Pedük</h2>
					<p class="text-muted" style="font-size: 20px;">Software Engineering Student</p>
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="https://twitter.com/erenpeduk">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.linkedin.com/in/erenpeduk/">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<div class="about-me bg-light p-4">
					<h2>HAKKIMDA</h2>
					<p style="font-weight: bold;font-size: 18px;font-family: "Times New Roman", Times, serif; ">
						Merhaba,

						Adım Eren Pedük, 21 yaşındayım ve Yazılım Mühendisliği 3. sınıf öğrencisi olarak Doğuş
						Üniversitesi'nde eğitim alıyorum. Node.js, JavaScript, HTML, CSS gibi teknolojilere ilgi duyuyor
						ve bu alanlarda kendimi geliştirmek için çaba sarf ediyorum.<br><br>

						Üniversite hayatımın yanı sıra, Doğuş Üniversite Mühendis Beyinler Kulübü'nde aktif bir rol
						aldım. Bu kulüp, mühendislik alanında öğrencilerin bir araya gelerek projeler üretebildiği ve
						deneyimlerini paylaşabildiği bir platform sunuyor. Bu deneyimler sayesinde ekip çalışması ve
						liderlik becerilerimi geliştirme fırsatı buldum.<br><br>

						Özellikle backend geliştirme konusunda kendimi daha fazla geliştirmeyi amaçlıyorum. Veritabanı
						yönetimi, sunucu tarafı kodlama ve güvenlik alanlarına olan ilgim yüksek. Bu alanlardaki bilgi
						ve becerilerimi projelerde etkili bir şekilde kullanmayı hedefliyorum.<br><br>

						Yeniliklere her zaman açık biri olarak, teknolojinin hızla değişen dünyasında kendimi sürekli
						güncel tutmaya çalışıyorum. Amacım, her gün bir adım ileri gitmek ve yazılım geliştirme
						konusundaki yeteneklerimi en üst düzeye çıkarmak.<br><br>

						Eğer benimle çalışma veya projelerinizde işbirliği yapma fikri ilginizi çekiyorsa, lütfen bana
						ulaşmaktan çekinmeyin.<br><br>

						Saygılarımla,<br>
						Eren Pedük
					</p>
				</div>
			</div>

		</div>
	</div>
</section>